force-app/main/default/flows/CancelTestDrive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>A8 — Cancels a TestDrive__c booking, creates a Task to notify the dealer, and sends a WhatsApp cancellation confirmation to the customer.</description>
    <interviewLabel>CancelTestDrive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CancelTestDrive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ═══ STEP 1: Update TestDrive__c to Cancelled ═══ -->
    <recordUpdates>
        <name>Cancel_Test_Drive</name>
        <label>Cancel the TestDrive Record</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <connector>
            <targetReference>Create_Cancellation_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>testDriveId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Cancelled</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value><elementReference>cancellationReason</elementReference></value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>

    <!-- ═══ STEP 2: Create a dealer notification Task ═══ -->
    <recordCreates>
        <name>Create_Cancellation_Task</name>
        <label>Create Dealer Cancellation Task</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Send_Cancellation_WhatsApp</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>Test Drive Cancelled — Slot Now Available</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>dealerAccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Not Started</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value><stringValue>Normal</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>cancellationTaskDescription</elementReference></value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ═══ STEP 3: Send WhatsApp cancellation confirmation ═══ -->
    <subflows>
        <name>Send_Cancellation_WhatsApp</name>
        <label>Send Cancellation WhatsApp Message</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <flowName>SendWhatsAppMessage</flowName>
        <inputAssignments>
            <name>phone</name>
            <value><elementReference>phone</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value><stringValue>CancellationConfirmation</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>param1</name>
            <value><elementReference>customerName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>param2</name>
            <value><elementReference>confirmationNumber</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>param3</name>
            <value><elementReference>vehicleModel</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>param4</name>
            <value><elementReference>testDriveDateText</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>param5</name>
            <value><elementReference>dealerName</elementReference></value>
        </inputAssignments>
    </subflows>

    <!-- ═══ FORMULA: Task description ═══ -->
    <formulas>
        <name>cancellationTaskDescription</name>
        <dataType>String</dataType>
        <expression>"Booking " &amp; {!confirmationNumber} &amp; " cancelled by customer. Reason: " &amp; {!cancellationReason} &amp; ". Vehicle: " &amp; {!vehicleModel}</expression>
    </formulas>

    <!-- ═══ FORMULA: Format date as text for WhatsApp message ═══ -->
    <formulas>
        <name>testDriveDateText</name>
        <dataType>String</dataType>
        <expression>TEXT({!testDriveDate})</expression>
    </formulas>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cancel_Test_Drive</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ═══ INPUT VARIABLES ═══ -->
    <variables>
        <name>testDriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDriveDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
