force-app/main/default/flows/CancelTestDrive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Failure</name>
        <label>Set Failure Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We were unable to cancel this booking due to a system error. Please try again or contact customer support.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Failure_Not_Found</name>
        <label>Set Failure Output - Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No test drive booking was found with that booking number. Please ask the customer to provide their booking number (e.g. TD-00009) exactly as it appears on their confirmation.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Record_Found</name>
        <label>Was a TestDrive record found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Failure_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Drive.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Test_Drive</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Cancels a TestDrive__c booking. Accepts the human booking number (e.g. TD-00009) as input, looks up the record internally, and updates Status to Cancelled. Self-contained: no other inputs required.</description>
    <environments>Default</environments>
    <formulas>
        <name>effectiveReason</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!cancellationReason}), &quot;Customer Request&quot;, {!cancellationReason})</expression>
    </formulas>
    <formulas>
        <name>successMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Your test drive booking &quot; &amp; {!Get_Test_Drive.Name} &amp; &quot; has been cancelled successfully. Reason recorded: &quot; &amp; {!effectiveReason} &amp; &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>CancelTestDrive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CancelTestDrive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Drive</name>
        <label>Get the TestDrive Record by Booking Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Test_Drive</name>
        <label>Cancel the TestDrive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Test_Drive.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>effectiveReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The customer-facing booking number for the test drive, in the format TD-XXXXX (e.g. TD-00009). This is what the customer reads off their confirmation email or message. Do NOT pass a Salesforce record ID, a Vehicle Definition ID, a Lead ID, or any 15/18-character alphanumeric ID here. Pass only the human-readable TD-XXXXX value.</description>
        <name>bookingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Optional reason for cancellation. Allowed values: Customer Request, Schedule Conflict, Found Another Dealership, Vehicle No Longer Available, Purchased Another Vehicle, Other. Defaults to Customer Request if blank.</description>
        <name>cancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
