force-app/main/default/flows/CreateTestDriveBooking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>A3 — Creates or updates a Lead and creates a TestDrive__c booking record. Also creates a Task notification for the dealer.</description>
    <interviewLabel>CreateTestDriveBooking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateTestDriveBooking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ALL assignments grouped -->
    <assignments>
        <name>Set_Lead_Id_From_New</name>
        <label>Set Lead ID from New Lead</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_New_Lead</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Drive_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Id_From_Existing</name>
        <label>Set Lead ID from Existing Lead</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Check_Existing_Lead.Id</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Drive_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Booking_Outputs</name>
        <label>Assign Booking Output Variables</label>
        <locationX>176</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>testDriveId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Test_Drive_Record</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputLeadId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>leadId</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- ALL decisions grouped -->
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Already Exist?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Create_New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Create New Lead</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Lead</targetReference>
            </connector>
            <label>Yes — Lead Exists</label>
        </rules>
    </decisions>

    <!-- ALL formulas grouped -->
    <formulas>
        <name>bookingTaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Customer: &quot; &amp; {!firstName} &amp; &quot; &quot; &amp; {!lastName} &amp; &quot; | Phone: &quot; &amp; {!phone} &amp; &quot; | Vehicle ID: &quot; &amp; {!vehicleDefinitionId}</expression>
    </formulas>

    <!-- ALL recordCreates grouped -->
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Set_Lead_Id_From_New</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value><elementReference>firstName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value><elementReference>lastName</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value><elementReference>phone</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Zip_Code__c</field>
            <value><elementReference>zipCode</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value><stringValue>Agentforce WhatsApp</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsApp_Opt_In__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Verified__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value><stringValue>Self</stringValue></value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Test_Drive_Record</name>
        <label>Create TestDrive Booking Record</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Dealer_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value><elementReference>leadId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Definition__c</field>
            <value><elementReference>vehicleDefinitionId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value><elementReference>dealerAccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Date__c</field>
            <value><elementReference>preferredDateTime</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value><stringValue>Scheduled</stringValue></value>
        </inputAssignments>
        <object>TestDrive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Dealer_Task</name>
        <label>Create Dealer Notification Task</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Assign_Booking_Outputs</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value><stringValue>New Test Drive Booked — Action Required</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value><elementReference>dealerAccountId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value><elementReference>preferredDateTime</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Not Started</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value><stringValue>High</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>bookingTaskDescription</elementReference></value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ALL recordLookups grouped -->
    <recordLookups>
        <name>Check_Existing_Lead</name>
        <label>Check if Lead Already Exists</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value><elementReference>phone</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ALL recordUpdates grouped -->
    <recordUpdates>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Set_Lead_Id_From_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>Check_Existing_Lead.Id</elementReference></value>
        </filters>
        <inputAssignments>
            <field>OTP_Verified__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsApp_Opt_In__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Zip_Code__c</field>
            <value><elementReference>zipCode</elementReference></value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Existing_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preferredDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
