force-app/main/default/flows/CreateTestDriveBooking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Booking_Confirmation_Email</name>
        <label>Send Booking Confirmation Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BookingConfirmationEmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Dealer_Task</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customerEmail</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>customerFullName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerPhone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredDateTime</name>
            <value>
                <elementReference>preferredDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testDriveId</name>
            <value>
                <elementReference>Create_Test_Drive_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleModel</name>
            <value>
                <elementReference>vehicleModel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>zipCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingConfirmationEmailSender</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Booking_Outputs</name>
        <label>Assign Booking Output Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>testDriveId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Test_Drive_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lead_Id_From_Existing</name>
        <label>Set Lead ID from Existing Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Existing_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_vehicle_definition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Id_From_New</name>
        <label>Set Lead ID from New Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New Lead Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_vehicle_definition</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Already Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_New_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Create New Lead</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Existing_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Lead</targetReference>
            </connector>
            <label>Yes Lead Exists</label>
        </rules>
    </decisions>
    <description>Creates or updates a Lead and creates a TestDrive__c booking record. Also creates a Task notification for the dealer.</description>
    <environments>Default</environments>
    <formulas>
        <name>bookingTaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Customer: &quot; &amp; {!firstName} &amp; &quot; &quot; &amp; {!lastName} &amp; &quot; | Phone: &quot; &amp; {!phone} &amp; &quot; | Vehicle ID: &quot; &amp; {!vehicleDefinitionId}</expression>
    </formulas>
    <formulas>
        <name>customerFullName</name>
        <dataType>String</dataType>
        <expression>{!firstName} &amp; &quot; &quot; &amp; {!lastName}</expression>
    </formulas>
    <interviewLabel>CreateTestDriveBooking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateTestDriveBooking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dealer_Task</name>
        <label>Create Dealer Notification Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Booking_Outputs</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>preferredDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>bookingTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Test Drive Booked — Action Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>dealerAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Lead_Id_From_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Self</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Zip_Code__c</field>
            <value>
                <elementReference>zipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Agentforce WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsApp_Opt_In__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Test_Drive_Record</name>
        <label>Create TestDrive Booking Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Booking_Confirmation_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>dealerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Date__c</field>
            <value>
                <elementReference>preferredDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Definition__c</field>
            <value>
                <elementReference>get_vehicle_definition.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Lead</name>
        <label>Check if Lead Already Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_vehicle_definition</name>
        <label>get vehicle definition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Test_Drive_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleDefinitionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VehicleDefinition</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Lead_Id_From_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Existing_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Zip_Code__c</field>
            <value>
                <elementReference>zipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsApp_Opt_In__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Existing_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preferredDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The customer-facing name of the vehicle, exactly as returned by the GetAvailableVehicleModels action (e.g. &quot;Electra X1&quot;, &quot;Electra Coupe&quot;, &quot;Electra SUV&quot;). Do NOT pass a Salesforce record ID, ID-shaped string, or anything else here. Pass only the human-readable model name.</description>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
