force-app/main/default/flows/FindDealershipByZipCode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>A2 — Takes a customer ZIP code and returns the nearest Electra dealership. Falls back to first available dealer if no ZIP match found.</description>
    <interviewLabel>FindDealershipByZipCode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FindDealershipByZipCode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ALL assignments grouped -->
    <assignments>
        <name>Assign_Dealer_Outputs</name>
        <label>Assign Matched Dealer Outputs</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>DealerId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Dealer_By_Zip.Id</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Dealer_By_Zip.Name</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerAddress</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Dealer_By_Zip.BillingStreet</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerPhone</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Dealer_By_Zip.Phone</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerCity</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Dealer_By_Zip.BillingCity</elementReference></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Fallback_Outputs</name>
        <label>Assign Fallback Dealer Outputs</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>DealerId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Fallback_Dealer.Id</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Fallback_Dealer.Name</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerAddress</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Fallback_Dealer.BillingStreet</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerPhone</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Fallback_Dealer.Phone</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerCity</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Get_Fallback_Dealer.BillingCity</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- ALL decisions grouped -->
    <decisions>
        <name>Did_We_Find_Dealer</name>
        <label>Was a Dealer Found?</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Get_Fallback_Dealer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Use Fallback</defaultConnectorLabel>
        <rules>
            <name>Yes_Dealer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dealer_By_Zip.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dealer_Outputs</targetReference>
            </connector>
            <label>Yes — Dealer Found</label>
        </rules>
    </decisions>

    <!-- ALL recordLookups grouped -->
    <recordLookups>
        <name>Get_Dealer_By_Zip</name>
        <label>Get Dealer By ZIP Code</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_Dealer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Zip_Codes__c</field>
            <operator>Contains</operator>
            <value><elementReference>zipCode</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- Fallback dealer lookup -->
    <recordLookups>
        <name>Get_Fallback_Dealer</name>
        <label>Get Any Available Dealer (Fallback)</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fallback_Outputs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Zip_Codes__c</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Dealer_By_Zip</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <variables>
        <name>zipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>DealerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealerAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealerCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealerPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
