force-app/main/default/flows/GenerateAndSendOTP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_OTP_Code</name>
        <label>Generate Secure OTP Code</label>
        <locationX>456</locationX>
        <locationY>398</locationY>
        <actionName>OTPGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_OTP_On_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OTPGenerator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>generatedOtp</assignToReference>
            <name>otpCode</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_otp_email</name>
        <label>Send OTP Email</label>
        <locationX>456</locationX>
        <locationY>614</locationY>
        <actionName>OTPEmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_OTP_Via_WhatsApp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toEmail</name>
            <value>
                <elementReference>get_the_existing_lead.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>otpCode</name>
            <value>
                <elementReference>generatedOtp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>customerName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OTPEmailSender</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>leadid_assignment</name>
        <label>leadid assignment</label>
        <locationX>456</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_OTP_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_True</name>
        <label>Set Success = True</label>
        <locationX>456</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A 6-digit OTP has been sent to the customer's registered email address. Please ask the customer to check their inbox and share the code to proceed with verification.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Generates a cryptographically secure 6-digit OTP using the OTPGenerator Apex class, saves it on the Lead record with a 5-minute expiry, then sends it to the customer via WhatsApp.</description>
    <environments>Default</environments>
    <formulas>
        <name>otpExpiryTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (5/1440)</expression>
    </formulas>
    <interviewLabel>GenerateAndSendOTP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenerateAndSendOTP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_the_existing_lead</name>
        <label>get the existing lead</label>
        <locationX>456</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>leadid_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_OTP_On_Lead</name>
        <label>Save OTP Fields on Lead</label>
        <locationX>456</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>send_otp_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTP_Attempt_Count__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Code__c</field>
            <value>
                <elementReference>generatedOtp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Expiry__c</field>
            <value>
                <elementReference>otpExpiryTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Verified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_the_existing_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_OTP_Via_WhatsApp</name>
        <label>Send OTP via WhatsApp</label>
        <locationX>456</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>Set_Success_True</targetReference>
        </connector>
        <flowName>SendWhatsAppMessage</flowName>
        <inputAssignments>
            <name>phone</name>
            <value>
                <elementReference>get_the_existing_lead.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templateName</name>
            <value>
                <stringValue>OTPVerification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>param1</name>
            <value>
                <elementReference>generatedOtp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>param2</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>generatedOtp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <description>The Salesforce Lead record ID (18-character ID starting with 00Q) for the customer requesting OTP verification. Do NOT pass the customer name or phone number here.</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
