force-app/main/default/flows/GetAvailableVehicleModels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_vehicle_list</name>
        <label>set vehicle list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vehicleRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_vehicle_list.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setOfvehicleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vehicleRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_vehicle_list</targetReference>
        </connector>
    </assignments>
    <description>Returns all Electra vehicle models for the agent to present to customers.</description>
    <environments>Default</environments>
    <interviewLabel>GetAvailableVehicleModels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetAvailableVehicleModels</label>
    <loops>
        <name>Loop_over_vehicle_list</name>
        <label>Loop over vehicle list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>vehicleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_vehicle_list</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Vehicle_Models</name>
        <label>Get All Vehicle Models</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_vehicle_list</targetReference>
        </connector>
        <object>VehicleDefinition</object>
        <outputReference>vehicleList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Use_Case__c</queriedFields>
        <queriedFields>Seating_Capacity__c</queriedFields>
        <queriedFields>Primary_Feature__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Vehicle_Models</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sample</stringValue>
        </value>
    </variables>
    <variables>
        <name>requestContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Demo List</stringValue>
        </value>
    </variables>
    <variables>
        <name>setOfvehicleList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
    <variables>
        <name>vehicleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
</Flow>
