force-app/main/default/flows/LookupTestDrive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Found_By_ID</name>
        <label>Assign Outputs — Found by Booking ID</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testDriveId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_ID.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testDriveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_ID.Test_Drive_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_ID.Dealer__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_ID.Vehicle_Definition__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_ID.Dealer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Found_By_Phone</name>
        <label>Assign Outputs — Found by Phone</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testDriveId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_Lead.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testDriveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_Lead.Test_Drive_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_Lead.Dealer__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_Lead.Vehicle_Definition__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Lead_By_Phone.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TestDrive_By_Lead.Dealer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Not_Found</name>
        <label>Set Found = False</label>
        <locationX>700</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Search_By_ID_Or_Phone</name>
        <label>Search by Booking ID or Phone Number?</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>Find_Lead_By_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Booking ID — Search by Phone</defaultConnectorLabel>
        <rules>
            <name>Has_Booking_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TestDrive_By_ID</targetReference>
            </connector>
            <label>Yes — Has Booking ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Booking_Found</name>
        <label>Was a TestDrive Booking Found?</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_By_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TestDrive_By_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_By_ID</targetReference>
            </connector>
            <label>Found by Booking ID</label>
        </rules>
        <rules>
            <name>Found_By_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TestDrive_By_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_By_Phone</targetReference>
            </connector>
            <label>Found by Phone</label>
        </rules>
    </decisions>
    <description>Looks up an existing TestDrive__c booking by Booking ID (e.g. TD-00001) or by the customer&apos;s phone number via their Lead record.</description>
    <environments>Default</environments>
    <interviewLabel>LookupTestDrive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LookupTestDrive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Lead_By_Phone</name>
        <label>Find Lead by Phone Number</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TestDrive_By_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TestDrive_By_ID</name>
        <label>Get TestDrive by Booking ID</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Booking_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Test_Drive_Date__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Dealer__c</queriedFields>
        <queriedFields>Vehicle_Definition__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TestDrive_By_Lead</name>
        <label>Get Scheduled TestDrive for Lead</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Booking_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Lead_By_Phone.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Test_Drive_Date__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Dealer__c</queriedFields>
        <queriedFields>Vehicle_Definition__c</queriedFields>
        <sortField>Test_Drive_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_By_ID_Or_Phone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDriveDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testDriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
