force-app/main/default/flows/RecommendVehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>A10 — AI Vehicle Matchmaker. Scores all active VehicleDefinition records against the customer's quiz answers (use case, passenger count, priority feature) and returns the top 2 recommendations with descriptions for the agent to narrate.</description>
    <interviewLabel>RecommendVehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecommendVehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ALL assignments grouped -->
    <assignments>
        <name>Reset_Current_Score</name>
        <label>Reset Current Vehicle Score to 0</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>currentScore</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>0.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Use_Case_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Use_Case_Score</name>
        <label>Add 3 Points for Use Case Match</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>currentScore</assignToReference>
            <operator>Add</operator>
            <value><numberValue>3.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Seating_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Seating_Score</name>
        <label>Add 2 Points for Seating Capacity</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>currentScore</assignToReference>
            <operator>Add</operator>
            <value><numberValue>2.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Feature</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Feature_Score</name>
        <label>Add 2 Points for Primary Feature Match</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>currentScore</assignToReference>
            <operator>Add</operator>
            <value><numberValue>2.0</numberValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_With_Top_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Promote_To_Top</name>
        <label>Promote to Top Pick (Demote Old Top to Second)</label>
        <locationX>440</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>secondScore</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topScore</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondPickId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topPickId</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondPickName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topPickName</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondPickDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topPickDescription</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>topScore</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>currentScore</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>topPickId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Score_Each_Vehicle.Id</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>topPickName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Score_Each_Vehicle.Name</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>topPickDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Score_Each_Vehicle.Description__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Score_Each_Vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Promote_To_Second</name>
        <label>Promote to Second Pick</label>
        <locationX>440</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>secondScore</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>currentScore</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondPickId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Score_Each_Vehicle.Id</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondPickName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Score_Each_Vehicle.Name</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondPickDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Score_Each_Vehicle.Description__c</elementReference></value>
        </assignmentItems>
        <connector>
            <targetReference>Score_Each_Vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Outputs</name>
        <label>Assign Final Recommendation Outputs</label>
        <locationX>176</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>outputTopPickId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topPickId</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputTopPickName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topPickName</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputTopPickDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>topPickDescription</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSecondPickId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>secondPickId</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSecondPickName</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>secondPickName</elementReference></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSecondPickDescription</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>secondPickDescription</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- ALL decisions grouped -->
    <decisions>
        <name>Check_Use_Case_Match</name>
        <label>Does Use Case Match? (+3)</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Check_Seating_Capacity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Use_Case_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Score_Each_Vehicle.Use_Case__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue><elementReference>useCase</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Use_Case_Score</targetReference>
            </connector>
            <label>Use Case Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Seating_Capacity</name>
        <label>Is Seating Capacity Sufficient? (+2)</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_Feature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sufficient</defaultConnectorLabel>
        <rules>
            <name>Seating_Sufficient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Score_Each_Vehicle.Seating_Capacity__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue><elementReference>passengerCount</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Seating_Score</targetReference>
            </connector>
            <label>Seating Is Sufficient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Feature</name>
        <label>Does Primary Feature Match? (+2)</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Compare_With_Top_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Feature Match</defaultConnectorLabel>
        <rules>
            <name>Feature_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Score_Each_Vehicle.Primary_Feature__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue><elementReference>priorityFeature</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Feature_Score</targetReference>
            </connector>
            <label>Feature Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_With_Top_Score</name>
        <label>Is Current Score Better Than Top Pick?</label>
        <locationX>176</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Compare_With_Second_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Better Than Top</defaultConnectorLabel>
        <rules>
            <name>Better_Than_Top</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><elementReference>topScore</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Promote_To_Top</targetReference>
            </connector>
            <label>Yes — New Top Pick</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_With_Second_Score</name>
        <label>Is Current Score Better Than Second Pick?</label>
        <locationX>176</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Score_Each_Vehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Better — Skip</defaultConnectorLabel>
        <rules>
            <name>Better_Than_Second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><elementReference>secondScore</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Promote_To_Second</targetReference>
            </connector>
            <label>Yes — New Second Pick</label>
        </rules>
    </decisions>

    <!-- ALL loops grouped -->
    <loops>
        <name>Score_Each_Vehicle</name>
        <label>Score Each Vehicle</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <collectionReference>Get_All_Active_Vehicles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Current_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Final_Outputs</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- ALL recordLookups grouped -->
    <recordLookups>
        <name>Get_All_Active_Vehicles</name>
        <label>Get All Active Vehicles</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Score_Each_Vehicle</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VehicleDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Use_Case__c</queriedFields>
        <queriedFields>Seating_Capacity__c</queriedFields>
        <queriedFields>Primary_Feature__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Active_Vehicles</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <variables>
        <name>useCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passengerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>1.0</numberValue></value>
    </variables>
    <variables>
        <name>priorityFeature</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>0.0</numberValue></value>
    </variables>
    <variables>
        <name>topScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>-1.0</numberValue></value>
    </variables>
    <variables>
        <name>secondScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>-1.0</numberValue></value>
    </variables>
    <variables>
        <name>topPickId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>topPickName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>topPickDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondPickId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondPickName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondPickDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputTopPickId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputTopPickName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputTopPickDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSecondPickId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSecondPickName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSecondPickDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
