force-app/main/default/flows/RescheduleTestDrive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Failure</name>
        <label>Set Failure Output</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We were unable to reschedule this booking due to a system error. Please try again or contact customer support.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Failure_Not_Found</name>
        <label>Set Failure Output - Not Found</label>
        <locationX>600</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No test drive booking was found with that booking number. Please ask the customer to provide their booking number (e.g. TD-00009) exactly as it appears on their confirmation.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success Output</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Record_Found</name>
        <label>Was a TestDrive record found?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Set_Failure_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Drive.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Test_Drive_Schedule</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Reschedules a TestDrive__c booking. Accepts the human booking number (e.g. TD-00009) and a new date/time. Looks up the record internally, archives the old date in Previous_Test_Drive_Date__c, increments Reschedule_Count__c, and updates Test_Drive_Date__c.</description>
    <formulas>
        <name>newRescheduleCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_Test_Drive.Reschedule_Count__c}), 1, {!Get_Test_Drive.Reschedule_Count__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>successMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Your test drive booking &quot; &amp; {!Get_Test_Drive.Name} &amp; &quot; has been rescheduled to &quot; &amp; TEXT({!newTestDriveDate}) &amp; &quot;. This is reschedule number &quot; &amp; TEXT({!newRescheduleCount}) &amp; &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>RescheduleTestDrive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RescheduleTestDrive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Drive</name>
        <label>Get the TestDrive Record by Booking Number</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Test_Drive_Date__c</queriedFields>
        <queriedFields>Reschedule_Count__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Test_Drive_Schedule</name>
        <label>Update TestDrive with New Schedule</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Test_Drive.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Test_Drive_Date__c</field>
            <value>
                <elementReference>Get_Test_Drive.Test_Drive_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reschedule_Count__c</field>
            <value>
                <elementReference>newRescheduleCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Drive_Date__c</field>
            <value>
                <elementReference>newTestDriveDate</elementReference>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The customer-facing booking number for the test drive, in the format TD-XXXXX (e.g. TD-00009). This is what the customer reads off their confirmation. Do NOT pass a Salesforce record ID, a Vehicle Definition ID, a Lead ID, or any 15/18-character alphanumeric ID here. Pass only the human-readable TD-XXXXX value.</description>
        <name>bookingNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The new date and time for the test drive in ISO 8601 format (e.g. 2026-05-03T10:00:00Z). Must be in the future.</description>
        <name>newTestDriveDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
