force-app/main/default/flows/Route_Conversations_to_Agentforce_Service_Agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Routes the conversation to the selected service agent.</description>
        <name>Route_to_agent</name>
        <label>Route to Service Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9xx0000004FTUCA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Copilot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Routes conversations from enhanced messaging channels to service agents based on pre-defined conditions.</description>
    <environments>Default</environments>
    <interviewLabel>Chat Routed to Agentforce Service Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Route Conversations to Agentforce Service Agents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <description>Passes the customer’s locale to the service agent to determine what language to use.</description>
        <name>Update_messaging_session</name>
        <label>Process Customer’s Locale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_to_agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndUserLanguage</field>
            <value>
                <elementReference>end_user_language</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <sourceTemplate>AiCopilot__LanguageChat</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_messaging_session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Saves the customer’s locale.</description>
        <name>end_user_language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Saves the unique identifier of the routed conversation. Different channels have different unique identifiers. For example, when conversions are routed from voice calls, the unique identifier is the Voice Call ID.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
