force-app/main/default/flows/SDO_Slack_Send_Slack_Notifications_for_Approaching_Opportunity_Close_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends Slack notification to users who own an opportunity that&apos;s closing within the number of days specified in DaysBeforeCloseDate.</description>
        <name>SendNotifications</name>
        <label>Send Notifications</label>
        <locationX>396</locationX>
        <locationY>1092</locationY>
        <actionName>close_date_reminder</actionName>
        <actionType>sendNotification</actionType>
        <connector>
            <targetReference>IterateOverOpportunities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IterateOverOpportunities.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>close_date_reminder</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the opportunity owner ID to the RecipientIds collection variable and increases the value of the LoopCounter variable by 1.</description>
        <name>AddRecipientAndIncrementLoopCounter</name>
        <label>Add Recipient and Increment LoopCounter</label>
        <locationX>396</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverOpportunities.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the value of the LoopCounter variable to 0.</description>
        <name>ResetLoopCounter</name>
        <label>Reset Loop Counter</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRecipientAndIncrementLoopCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the value of the CloseDate variable to 7 days after today and the LoopCounter variable to 0.</description>
        <name>SetCloseDateAndLoopCounter</name>
        <label>Set Close Date and LoopCounter</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>CloseDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DaysBeforeCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter opportunities from GetOpportunities that have active opportunity owners.</description>
        <name>FilterOpportunitiesActiveOwner</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Opportunities with Active Owner</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>currentItem_FilterOpportunitiesActiveOwner</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetOpportunities</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>IterateOverOpportunities</targetReference>
        </connector>
        <formula>{!currentItem_FilterOpportunitiesActiveOwner.Owner.IsActive}</formula>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Send Slack Notifications for Approaching Opportunity Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack Notifications for Approaching Opportunity Close Date</label>
    <loops>
        <description>Repeats actions in the loop for the Opportunities from GetOpportunities record collection. Identifies record owners and sends Slack notifications.</description>
        <name>IterateOverOpportunities</name>
        <label>Iterate Over Opportunities</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>FilterOpportunitiesActiveOwner</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PauseFlowCloseDate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the opportunities that have a close date within the number of days specified by DaysBeforeCloseDate and stores the results in the Opportunities from GetOpportunities record collection.</description>
        <name>GetOpportunities</name>
        <label>Get Opportunities</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FilterOpportunitiesActiveOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>sales_channel__OpptyCloseDateNotif</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetCloseDateAndLoopCounter</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-12-22</startDate>
            <startTime>05:01:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the opportunity close date.</description>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentItem_FilterOpportunitiesActiveOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Stores the number of days before the opportunity close date that the notification is to be sent. To notify record owners earlier or later, change this value.</description>
        <name>DaysBeforeCloseDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the number of iterations executed in a loop.</description>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores IDs of recipients to receive notifications for an opportunity close date.</description>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Pauses the flow when the value of the LoopCounter variable is greater than 99.</description>
        <name>PauseFlowCloseDate</name>
        <label>Pause Flow</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>AddRecipientAndIncrementLoopCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LoopCounter Less Than 100 (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>LoopCounterExceeds99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetLoopCounter</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>LoopCounter Exceeds 99</label>
        </waitEvents>
    </waits>
</Flow>
