force-app/main/default/flows/SDO_Slack_Send_Slack_Notifications_for_Deals_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an invocable action to send notifications to all specified feed channels with the &quot;Deals Won&quot; broadcast topic.</description>
        <name>SendSlackNotifications_DealsWon</name>
        <label>Send Slack Notifications</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>deal_won</actionName>
        <actionType>sendNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SlackChannels_DealsWon</elementReference>
            </value>
        </inputParameters>
        <nameSegment>deal_won</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the type of Slack notifications to send.</description>
        <name>NotificationPurpose_DealsWon</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deals Won</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Broadcast Topic Collaboration Room record set for deals won?</description>
        <name>Check_if_Channel_Set</name>
        <label>Check if Channel Set</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>None found</defaultConnectorLabel>
        <rules>
            <name>Recipient_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SlackChannels_DealsWon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackNotifications_DealsWon</targetReference>
            </connector>
            <label>Recipient Found</label>
        </rules>
    </decisions>
    <description>kevin version with decision element</description>
    <environments>Default</environments>
    <interviewLabel>Send Slack Notifications for Deals Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack Notifications for Deals Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>sales_channel__DealWon</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Probability</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetNotificationRecipients_DealsWon</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Gets the Slack channels associated with the broadcast topic specified in NotificationPurpose.</description>
        <name>GetNotificationRecipients_DealsWon</name>
        <label>Get Notification Recipients</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Check_if_Channel_Set</targetReference>
        </connector>
        <flowName>sales_channel__NotificationsSubflow</flowName>
        <inputAssignments>
            <name>Purpose</name>
            <value>
                <elementReference>NotificationPurpose_DealsWon</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SlackChannels_DealsWon</assignToReference>
            <name>SlackChannelIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>SlackChannels_DealsWon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
