force-app/main/default/flows/SDO_Slack_case_ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choice_yourself</name>
        <choiceText>Yourself</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Clicked_Already</name>
        <label>Clicked Already?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Case_already_Assigned_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_not_been_clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Case_Assignment_Timestamp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Profiles</targetReference>
            </connector>
            <label>Has not been clicked</label>
        </rules>
    </decisions>
    <description>Flow 2 is a two series screen flow that alerts users of new cases in Slack and allows for case assignment</description>
    <dynamicChoiceSets>
        <name>choice_users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>2 AND (1 OR 3)</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Profiles.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Slack</environments>
    <interviewLabel>Slack_case_ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slack_case_ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clicked_Already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Profile IDs to be used for the User List</description>
        <name>Get_Related_Profiles</name>
        <label>Get Related Profiles</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Assignment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Case_Assignment_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Assignment_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>radio_Assign_To</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_already_Assigned_message</name>
        <label>Case already Assigned</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Case_already_assigned</name>
            <fieldText>&lt;p&gt;This case has already been assigned to {!Get_Case.Owner:User.FirstName} {!Get_Case.Owner:User.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Assignment</name>
        <label>Case Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <fields>
            <name>case_details</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Case&lt;/strong&gt;: {!Get_Case.CaseNumber}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status&lt;/strong&gt;: {!Get_Case.Status}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subject&lt;/strong&gt;: {!Get_Case.Subject}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Owner&lt;/strong&gt;: {!Get_Case.Owner:User.Username}{!Get_Case.Owner:Group.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>radio_Assign_To</name>
            <choiceReferences>choice_yourself</choiceReferences>
            <choiceReferences>choice_users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assign To</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Assign Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Assignment_Screen</name>
        <label>Case Assignment Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Success! Case {!Get_Case.CaseNumber} has been assigned to {!Get_Case.Owner:User.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
