force-app/main/default/flows/SDO_Slack_Send_Slack_Notifications_for_Deals_to_Watch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an invocable action to send notifications to all specified feed channels with the &quot;Deals to Watch&quot; broadcast topic.</description>
        <name>SendSlackNotifications_DealsToWatch</name>
        <label>Send Slack Notifications</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>deals_to_watch</actionName>
        <actionType>sendNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SlackChannels_DealsToWatch</elementReference>
            </value>
        </inputParameters>
        <nameSegment>deals_to_watch</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the type of Slack notifications to send.</description>
        <name>NotificationPurpose_DealsToWatch</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deals to Watch</stringValue>
        </value>
    </constants>
    <decisions>
        <description>checks for a broadcast topic collaboration room</description>
        <name>Channel_Found</name>
        <label>Channel Found?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>none found</defaultConnectorLabel>
        <rules>
            <name>Recipient_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SlackChannels_DealsToWatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackNotifications_DealsToWatch</targetReference>
            </connector>
            <label>Recipient found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Slack Notifications for Deals to Watch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack Notifications for Deals to Watch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>sales_channel__DealsToWatch</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetNotificationRecipients_DealsToWatch</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Gets the Slack channels associated with the broadcast topic specified in NotificationPurpose.</description>
        <name>GetNotificationRecipients_DealsToWatch</name>
        <label>Get Notification Recipients</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Channel_Found</targetReference>
        </connector>
        <flowName>sales_channel__NotificationsSubflow</flowName>
        <inputAssignments>
            <name>Purpose</name>
            <value>
                <elementReference>NotificationPurpose_DealsToWatch</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SlackChannels_DealsToWatch</assignToReference>
            <name>SlackChannelIds</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>SlackChannels_DealsToWatch</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
