force-app/main/default/flows/SDO_Slack_Send_Slack_Notification_for_Oppty_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an invocable action to send Slack notifications to all sales channels affected by an amount change on the triggering opportunity record.</description>
        <name>SendAmountChangeNotifications</name>
        <label>Send Amount Change Notifications</label>
        <locationX>242</locationX>
        <locationY>947</locationY>
        <actionName>amount_updated</actionName>
        <actionType>sendNotification</actionType>
        <connector>
            <targetReference>IsStageChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ChannelIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>amount_updated</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an invocable action to send notifications to all sales channels affected by a close date change on the triggering opportunity record.</description>
        <name>SendCloseDateChangedNotifications</name>
        <label>Send Close Date Changed Notifications</label>
        <locationX>242</locationX>
        <locationY>1547</locationY>
        <actionName>close_date_updated</actionName>
        <actionType>sendNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ChannelIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>close_date_updated</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Calls an invocable action to send notifications to all sales channels affected by a stage change on the triggering opportunity  record.</description>
        <name>SendStageChangedNotifications</name>
        <label>Send Stage Changed Notifications</label>
        <locationX>242</locationX>
        <locationY>1247</locationY>
        <actionName>stage_updated</actionName>
        <actionType>sendNotification</actionType>
        <connector>
            <targetReference>IsCloseDateChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ChannelIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stage_updated</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the ID for the sales channels to receive notifications to the ChannelIds collection variable.</description>
        <name>AddChannelId</name>
        <label>Add Sales Channel to Collection</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ChannelIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SwarmLoop.CollaborationRoomId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SwarmLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether any sales channels related to swarm records retrieved in GetSwarm were found.</description>
        <name>DoSalesChannelsExist</name>
        <label>Sales Channels Exist?</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>IsAmountChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>NoChannelsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChannelIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Amount field on the related opportunity was updated.</description>
        <name>IsAmountChanged</name>
        <label>Is Amount Changed?</label>
        <locationX>374</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>IsStageChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>AmountChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendAmountChangeNotifications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Close Date field on the related opportunity was updated.</description>
        <name>IsCloseDateChanged</name>
        <label>Is Close Date Changed?</label>
        <locationX>374</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>CloseDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendCloseDateChangedNotifications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Stage field on the related opportunity was updated.</description>
        <name>IsStageChanged</name>
        <label>Is Stage Changed?</label>
        <locationX>374</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>IsCloseDateChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>StageChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendStageChangedNotifications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Slack Notification for Oppty Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack Notification for Oppty Changes</label>
    <loops>
        <description>Iterates through the records in the Swarms from the GetSwarm collection to locate the sales channels that are related to the triggering opportunity record.</description>
        <name>SwarmLoop</name>
        <label>Iterate Through Related Sales Channels</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetSwarm</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddChannelId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DoSalesChannelsExist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get swarm records for the sales channels related to the triggering opportunity record and store them in the Swarms from the GetSwarm record collection variable.</description>
        <name>GetSwarm</name>
        <label>Get Related Sales Channels</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SwarmLoop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartedDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndedDateTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndedDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DealRoom</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>CollaborationTool</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Slack</stringValue>
            </value>
        </filters>
        <filters>
            <field>CollaborationRoomId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>sales_channel__OpptyChgNotif</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSwarm</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores IDs of sales channels to receive notifications.</description>
        <name>ChannelIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
