force-app/main/default/flows/ValidateOTP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>A6 — Validates a customer-entered OTP against the stored value on the Lead. Handles expiry (5 min), lockout (3 failed attempts), and match/no-match outcomes.</description>
    <interviewLabel>ValidateOTP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ValidateOTP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <!-- ALL assignments grouped -->
    <assignments>
        <name>Set_Output_Locked</name>
        <label>Set Output — LOCKED</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>valid</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>LOCKED</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attemptsLeft</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>0.0</numberValue></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Expired</name>
        <label>Set Output — EXPIRED</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>valid</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>EXPIRED</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attemptsLeft</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>0.0</numberValue></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Valid</name>
        <label>Set Output — VALID</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>valid</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>MATCH</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attemptsLeft</assignToReference>
            <operator>Assign</operator>
            <value><numberValue>3.0</numberValue></value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Invalid</name>
        <label>Set Output — INVALID</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>valid</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>INVALID</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>attemptsLeft</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>remainingAttempts</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- ALL decisions grouped -->
    <decisions>
        <name>Is_Account_Locked</name>
        <label>Is Account Locked? (3+ Failed Attempts)</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Is_OTP_Expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Locked — Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_OTP_Data.OTP_Attempt_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue><numberValue>3.0</numberValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Locked</targetReference>
            </connector>
            <label>Yes — Locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OTP_Expired</name>
        <label>Is OTP Expired? (Past 5-min window)</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Does_OTP_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Expired — Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_OTP_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><elementReference>Get_Lead_OTP_Data.OTP_Expiry__c</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Output_Expired</targetReference>
            </connector>
            <label>Yes — Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_OTP_Match</name>
        <label>Does Entered OTP Match Stored OTP?</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Increment_Attempt_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Wrong OTP</defaultConnectorLabel>
        <rules>
            <name>Yes_OTP_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enteredOtp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><elementReference>Get_Lead_OTP_Data.OTP_Code__c</elementReference></rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Lead_Clear_OTP</targetReference>
            </connector>
            <label>Yes — OTP Matches</label>
        </rules>
    </decisions>

    <!-- ALL formulas grouped -->
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>newAttemptCount</name>
        <dataType>Number</dataType>
        <expression>{!Get_Lead_OTP_Data.OTP_Attempt_Count__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>remainingAttempts</name>
        <dataType>Number</dataType>
        <expression>3 - ({!Get_Lead_OTP_Data.OTP_Attempt_Count__c} + 1)</expression>
        <scale>0</scale>
    </formulas>

    <!-- ALL recordLookups grouped -->
    <recordLookups>
        <name>Get_Lead_OTP_Data</name>
        <label>Get Lead OTP Fields</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Locked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>leadId</elementReference></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OTP_Code__c</queriedFields>
        <queriedFields>OTP_Expiry__c</queriedFields>
        <queriedFields>OTP_Attempt_Count__c</queriedFields>
        <queriedFields>OTP_Verified__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ALL recordUpdates grouped -->
    <recordUpdates>
        <name>Verify_Lead_Clear_OTP</name>
        <label>Mark Lead as OTP Verified and Clear Code</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Set_Output_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>leadId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>OTP_Verified__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Code__c</field>
            <value><stringValue></stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP_Attempt_Count__c</field>
            <value><numberValue>0.0</numberValue></value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Attempt_Count</name>
        <label>Increment OTP Attempt Counter on Lead</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Set_Output_Invalid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>leadId</elementReference></value>
        </filters>
        <inputAssignments>
            <field>OTP_Attempt_Count__c</field>
            <value><elementReference>newAttemptCount</elementReference></value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_OTP_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enteredOtp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>valid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>attemptsLeft</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value><numberValue>3.0</numberValue></value>
    </variables>
</Flow>
